@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
/*font-family: 'Ubuntu', sans-serif;*/

:root {
	--back: #a31919;
  --back2: #0400fc;
  --foredark: #1A1A1A;
	--forelight: #fff;
	--border: rgb(27, 43, 190);
	--borderlight: rgb(24, 26, 185);
	--shadow: rgb(182, 40, 40);
	--zebra:  #a31919;
  --zebraodd:  #913ab9;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Spectral SC', serif;
}

table {
  width: 100%;
  border: thin solid var(--border);
	box-shadow: 5px 5px 20px var(--shadow);
  text-align: center;
  border-collapse: collapse;
}

tr:first-child th, tfoot {
	background-color: var(--back);
}

thead tr:first-child {
  font-weight: bolder;
  font-size: 1.2em;
}

tr:nth-child(4) td:last-child, thead tr:nth-child(2) {
  background-color: var(--back);
  color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
	background-color: var(--back2);
}

tbody tr {
  background-color: var(--zebraodd);
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

tfoot {
  font-size: .8em;
}



#currentday {
  font-size: 16px;
  margin-top: -10px;
  text-align: center;
}

/*-----MEDIUM VIEW --------*/

@media (min-width: 40em) { 

  table, footer {
    width: 50%;
  }
 
}



:root {
    
    --primary-color: #861f1f;
    --second-color: #5731E3;
    --third-color: #8A59FF;
    --accent-color: #FF6942;

    
    --heading-font: 'Spectral SC', serif;
    --paragraph-font: monospace, sans-serif;
}

html {
    font-family: var(--paragraph-font);
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}


header {
    background-color: var(--primary-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr .7fr;
    align-items: center;
    color: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 3px 5px 62px 8px rgba(0,0,0,0.32);
}

#joinusbutton {
    color:#F7F7F7;
    background-color: #909096;
    border-color: #909096;
    padding: 15px 25px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    margin: 1em;
    width: 90%;
}

nav {
    justify-self: center;
    grid-row: 2;
    grid-column: 1 / 4;
    width: 100%;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
}

nav ul li a {
    display: block;
    padding: 1.2rem 2vw;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255);
}


nav ul li a:hover {
    background-color: rgb(121, 81, 81);
}


#windChill {
    background-color: rgb(255, 255, 255);
    font-size: 1.1rem;
    border: 2px solid white;
    
}

.header-logo {
    display: flex;
    align-content: center;
}

.header-logo img {
    float: left;
    width: 4rem;
    margin-right: 1em;
}

.headings h1 {
    font-size: 1.6rem;
    margin: 0;
}

.motto {
    margin: 0;
}

.socials {
    justify-self: center;
    grid-column: 2;

    text-align: center;
}

.socials img {
    max-width: 1.6rem;
}




main {
    padding: .5rem;
    display: grid;
    gap: .5rem;
    
}

main div {
    padding: 3em;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
}

.norm:hover {box-shadow: 0 0 50px #333;}





.join {
    display: none;
    background-size: cover;
    background-image: url("wdd.jpg")
}



footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 3px 5px 62px 8px rgba(0,0,0,0.32);
}



.info > hr {
    margin: 1.5rem 0 1rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
}














