@import url('https://fonts.googleapis.com/css2?family=Asul&family=Neuton&family=Work+Sans&display=swap');

:root {
    --font-title: 'Asul', sans-serif;
    --font-secondary-title: 'Neuton', serif;
    --font-paragraph: 'Work Sans', sans-serif;
    --color-dark1: #1368e7;
    --color-dark2: #ffffff;
    --color-light1: #092f69;
    --color-light2: #092f69;
    --color-accent3: #051d42;
}

body {
    box-sizing: border-box;
    background-color: var(--color-dark1);
    margin: 0 auto;
    width: 92vw;
    font-family: var(--font-paragraph);
    color: var(--color-dark1);
}

header,
footer {
    background-color: var(--color-light1);
    padding: 10px;
    text-align: center;
}

header img {
    width: 40vw;
}

header .page-header h1 {
    font-family: var(--font-title);
    margin: 0;
    color: var(--color-dark1);
}

nav {
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: var(--color-light1);
}
nav ul {
    margin: 15px 0;
    padding: 0;
}

nav ul li {
    list-style: none;
    text-align: center;
    padding: 8px;
    font-family: var(--font-title);
    font-size: 1.25rem;
}

nav a,
footer a {
    text-decoration: none;
    color: var(--color-dark1);
}

nav a:hover,
footer a:hover {
    color: var(--color-accent3);
    text-decoration: underline;
    font-weight: bold;
}

main {
    background-color: var(--color-dark2);
    padding: 1.5rem;
}

h2 {
    font-family: var(--font-secondary-title);
    margin: 0;
}

p {
    margin: 6px 0 0 0;
    font-size: 20px;
}

main section {
    box-sizing: border-box;
    border: var(--color-accent3) solid 5px;
    background-color: var(--color-light2);
    padding: 15px;
    margin: 15px 0;
    border-radius: 0.5rem;
}

main section .color-pick {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 15px;
    /* display: flex;
    flex-flow: row;
    justify-content: space-between; */
    border: var(--color-dark2) solid 3.5px;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
}

main section .color-square {
    font-weight: bold;
    width: 100px;
    height: 75px;
    text-align: center;
    padding: 10px;
}

#cs1 {
    box-sizing: border-box;
    background-color: var(--color-dark1);
    border: var(--color-dark1) solid 3px;
    color: var(--color-light2);
}

#cs2 {
    box-sizing: border-box;
    background-color: var(--color-dark2);
    border: var(--color-dark1) solid 3px;
    color: var(--color-light2);
}

#cs3 {
    box-sizing: border-box;
    background-color: var(--color-light1);
    border: var(--color-dark1) solid 3px;
    color: var(--color-dark1);
}

#cs4 {
    box-sizing: border-box;
    background-color: var(--color-light2);
    border: var(--color-dark1) solid 3px;
    color: var(--color-dark1);
}

#cs5 {
    box-sizing: border-box;
    background-color: var(--color-accent3);
    border: var(--color-dark1) solid 3px;
    color: var(--color-dark1);
}

main section .content p {
    margin-bottom: 15px;
}

footer p {
    font-size: 14px;
}